/*Password buttom*/

.toggle-button {
	display: flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: unset;
	right: 12px;
	cursor: pointer;
}

.eye-icon {
	width: 20px;
	height: 20px;
}